In [1]:
import pandas as pd
import numpy as np

from google.colab import files
uploaded=files.upload()
data= pd.read_csv('Bengaluru_House_Data.csv')

Saving Bengaluru_House_Data.csv to Bengaluru_House_Data.csv

In [2]:
data.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [3]:
data.shape

(13320, 9)

In [4]:
data.info

<bound method DataFrame.info of                   area_type   availability  ... balcony   price
0      Super built-up  Area         19-Dec  ...     1.0   39.07
1                Plot  Area  Ready To Move  ...     3.0  120.00
2            Built-up  Area  Ready To Move  ...     3.0   62.00
3      Super built-up  Area  Ready To Move  ...     1.0   95.00
4      Super built-up  Area  Ready To Move  ...     1.0   51.00
...                     ...            ...  ...     ...     ...
13315        Built-up  Area  Ready To Move  ...     0.0  231.00
13316  Super built-up  Area  Ready To Move  ...     NaN  400.00
13317        Built-up  Area  Ready To Move  ...     1.0   60.00
13318  Super built-up  Area         18-Jun  ...     1.0  488.00
13319  Super built-up  Area  Ready To Move  ...     1.0   17.00

[13320 rows x 9 columns]>

In [5]:
for column in data.columns:
  print(data[column].value_counts())
  print("*"*50)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
**************************************************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
16-Jan               1
17-Jan               1
16-Jul               1
15-Jun               1
15-Aug               1
Name: availability, Length: 81, dtype: int64
**************************************************
Whitefield                                      540
Sarjapur  Road                                  399
Electronic City                                 302
Kanakpura Road                                  273
Thanisandra                                     234
                                               ...
4 Bedroom Farm House in Bagalur                   1
BTM Layout 1stage 9th Main                        1
2 Bedroom Furnished Farm House in Kolar Road      1
Binnamangala                                      1
Double Road                                       1
Name: location, Length: 1305, dtype: int64
**************************************************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
16 BHK           1
18 Bedroom       1
43 Bedroom       1
13 BHK           1
14 BHK           1
12 Bedroom       1
Name: size, dtype: int64
**************************************************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
SyOnen      1
SRldsnt     1
RaiewLa     1
Vehes L     1
Spity E     1
Name: society, Length: 2688, dtype: int64
**************************************************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
2086      1
1317      1
808       1
1401      1
3092      1
Name: total_sqft, Length: 2117, dtype: int64
**************************************************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
18.0       1
40.0       1
15.0       1
14.0       1
Name: bath, dtype: int64
**************************************************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
**************************************************
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
81.55      1
69.49      1
42.18      1
70.25      1
74.82      1
Name: price, Length: 1994, dtype: int64
**************************************************

In [6]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [7]:
data.drop(columns=['area_type', 'availability', 'society', 'balcony'], inplace=True)

In [8]:
data.describe() #description of avg,mean, min and max value of dataset

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [10]:
data['location'].value_counts()

Whitefield                                      540
Sarjapur  Road                                  399
Electronic City                                 302
Kanakpura Road                                  273
Thanisandra                                     234
                                               ...
4 Bedroom Farm House in Bagalur                   1
BTM Layout 1stage 9th Main                        1
2 Bedroom Furnished Farm House in Kolar Road      1
Binnamangala                                      1
Double Road                                       1
Name: location, Length: 1305, dtype: int64

In [11]:
data['location']=data['location'].fillna('Sarjapur  Road')

In [12]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
10 BHK           2
11 Bedroom       2
27 BHK           1
19 BHK           1
16 BHK           1
18 Bedroom       1
43 Bedroom       1
13 BHK           1
14 BHK           1
12 Bedroom       1
Name: size, dtype: int64

In [13]:
data['size']=data['size'].fillna('2 BHK')

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [15]:
data['bath'].value_counts()

2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
18.0       1
40.0       1
15.0       1
14.0       1
Name: bath, dtype: int64

In [16]:
data['bath']=data['bath'].fillna(data['bath'].median())

In [17]:
data.info()   #to see non-null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [18]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

In [19]:
data[data.bhk>20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [20]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [21]:
def convertRange(x):
  temp=x.split('-')
  if len(temp)==2:
    return (float(temp[0])+float(temp[1]))/2
  try:
    return float(x)

  except:
    return None

In [22]:
data['total_sqft']=data['total_sqft'].apply(convertRange)

In [23]:
data.tail()

                    location       size  total_sqft  bath  price  bhk
13315             Whitefield  5 Bedroom      3453.0   4.0  231.0    5
13316          Richards Town      4 BHK      3600.0   5.0  400.0    4
13317  Raja Rajeshwari Nagar      2 BHK      1141.0   2.0   60.0    2
13318        Padmanabhanagar      4 BHK      4689.0   4.0  488.0    4
13319           Doddathoguru      1 BHK       550.0   1.0   17.0    1

# Price Per Square feet

In [24]:
data['price_per_sqft']=data['price']*100000 / data['total_sqft'] #Doing this for detection and removal of outliers

In [25]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [26]:
data['location'].value_counts()

Whitefield                                      540
Sarjapur  Road                                  400
Electronic City                                 302
Kanakpura Road                                  273
Thanisandra                                     234
                                               ...
4 Bedroom Farm House in Bagalur                   1
BTM Layout 1stage 9th Main                        1
2 Bedroom Furnished Farm House in Kolar Road      1
Binnamangala                                      1
Double Road                                       1
Name: location, Length: 1305, dtype: int64

In [27]:
data['location']=data['location'].apply(lambda x: x.strip())
location_count=data['location'].value_counts()

In [28]:
data['location'].value_counts()

Whitefield         541
Sarjapur  Road     400
Electronic City    304
Kanakpura Road     273
Thanisandra        237
                  ...
Goraguntepalya       1
Rahmath Nagar        1
Pulikeshi Nagar      1
DUO Layout           1
Double Road          1
Name: location, Length: 1294, dtype: int64

In [29]:
location_count_less_10=location_count[location_count<=10]
location_count_less_10

Ganga Nagar             10
Nagadevanahalli         10
Gunjur Palya            10
BTM 1st Stage           10
Nagappa Reddy Layout    10
                        ..
Goraguntepalya           1
Rahmath Nagar            1
Pulikeshi Nagar          1
DUO Layout               1
Double Road              1
Name: location, Length: 1053, dtype: int64

In [30]:
data['location']=data['location'].apply(lambda x: 'other' if x in location_count_less_10 else x)

In [31]:
data['location'].value_counts()

other                        2885
Whitefield                    541
Sarjapur  Road                400
Electronic City               304
Kanakpura Road                273
                             ...
LB Shastri Nagar               11
2nd Phase Judicial Layout      11
Banjara Layout                 11
Narayanapura                   11
Kodigehalli                    11
Name: location, Length: 242, dtype: int64

# Outliers Detection and Removal

In [32]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [33]:
data=data[((data['total_sqft']/data['bhk'])>=300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [34]:
data.shape

(12530, 7)

In [35]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [36]:
def remove_outliers_sqft(df):
  df_output=pd.DataFrame()
  for key,subdf in df.groupby('location'):
    m=np.mean(subdf.price_per_sqft)
    st=np.std(subdf.price_per_sqft)
    gen_df=subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
    df_output=pd.concat([df_output,gen_df],ignore_index=True)
  return df_output
data=remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [37]:
def bhk_outliers_remover(df):
  exclude_indices=np.array([])
  for location ,location_df in df.groupby('location'):
    bhk_stats={}
    for bhk,bhk_df in location_df.groupby('bhk'):
      bhk_stats[bhk]={
          'mean': np.mean(bhk_df.price_per_sqft) ,
          'std': np.std(bhk_df.price_per_sqft),
          'count': bhk_df.shape[0]
      }
      
    for bhk,bhk_df in location_df.groupby('bhk'):
      stats=bhk_stats.get(bhk-1)
      if stats and stats['count']>5:
        exclude_indices=np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
  return df.drop(exclude_indices,axis='index')

In [38]:
data= bhk_outliers_remover(data)

In [39]:
data.shape

(7360, 7)

In [40]:
data

                  location       size  total_sqft  ...  price  bhk  price_per_sqft
0      1st Block Jayanagar      4 BHK      2850.0  ...  428.0    4    15017.543860
1      1st Block Jayanagar      3 BHK      1630.0  ...  194.0    3    11901.840491
2      1st Block Jayanagar      3 BHK      1875.0  ...  235.0    3    12533.333333
3      1st Block Jayanagar      3 BHK      1200.0  ...  130.0    3    10833.333333
4      1st Block Jayanagar      2 BHK      1235.0  ...  148.0    2    11983.805668
...                    ...        ...         ...  ...    ...  ...             ...
10292                other      2 BHK      1200.0  ...   70.0    2     5833.333333
10293                other      1 BHK      1800.0  ...  200.0    1    11111.111111
10296                other      2 BHK      1353.0  ...  110.0    2     8130.081301
10297                other  1 Bedroom       812.0  ...   26.0    1     3201.970443
10300                other      4 BHK      3600.0  ...  400.0    4    11111.111111

[7360 rows x 7 columns]

In [41]:
data.drop(columns=['size','price_per_sqft'], inplace=True)

# Cleaned Data

In [42]:
data.head()

              location  total_sqft  bath  price  bhk
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [43]:
data.to_csv("Cleaned_data.csv")
data.describe()

         total_sqft         bath        price          bhk
count   7360.000000  7360.000000  7360.000000  7360.000000
mean    1496.928526     2.448098    99.094892     2.500543
std      865.839979     1.011563    93.343057     0.929357
min      300.000000     1.000000    10.000000     1.000000
25%     1095.750000     2.000000    50.000000     2.000000
50%     1260.000000     2.000000    73.100000     2.000000
75%     1680.000000     3.000000   113.000000     3.000000
max    30000.000000    16.000000  2200.000000    16.000000

In [44]:
x=data.drop(columns=['price'])
y=data['price']

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [46]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [47]:
print(x_train.shape)
print(x_test.shape)

(5888, 4)
(1472, 4)

# Applying Linear Regression

In [48]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['location']),
                                     remainder='passthrough')

In [49]:
scaler=StandardScaler()

In [50]:
lr=LinearRegression(normalize=True)

In [51]:
pipe_lr=make_pipeline(column_trans,scaler,lr)

In [52]:
pipe_lr.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [53]:
y_pred_lr=pipe_lr.predict(x_test)

In [54]:
r2_score(y_test,y_pred_lr)

0.8296327468514669

# Applying Lasso

In [55]:
lasso=Lasso()

In [56]:
pipe=make_pipeline(column_trans,scaler,lasso)

In [57]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [58]:
y_pred_lasso=pipe.predict(x_test)

r2_score(y_test,y_pred_lasso)

0.8199181874762704

# Applying Ridge

In [59]:
ridge=Ridge()

In [60]:
pipe=make_pipeline(column_trans,scaler,ridge)

In [61]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [62]:
y_pred_ridge=pipe.predict(x_test)

r2_score(y_test,y_pred_ridge)

0.8296651410179647

In [63]:
print("No Regularization: ",r2_score(y_test,y_pred_lr))
print("Lasso: ", r2_score(y_test,y_pred_lasso))
print("Ridge: ",r2_score(y_test,y_pred_ridge))

No Regularization:  0.8296327468514669
Lasso:  0.8199181874762704
Ridge:  0.8296651410179647

In [64]:
import pickle

In [65]:
pickle.dump(pipe_lr,open('RegressionModel.pkl','wb'))